.body {
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.city {
    color: #bfe001;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.btn{
    transition: ease-in-out;
}
.btn:active {
    background-color: #bfe001;
}
.card {
    background-color: #1f1f1f;
    color: white;
    border-radius: 15px;
    padding: 30px;
}